# [b]etter [tldr]
syntax btldr "\.btldr$"
header "^# [^ ].*"

color lagoon "^# .*"
color blue "^#"

color teal "^> .*"
color blue "^>"
color cyan "\<(See also|Aliases|More information):"
color blue ","
color plum "\<https://[^ ]+"

color brick "^- .*"
color blue "^-"
color red "\[[^ ]+\]"
color brown "\<std(in|out|err)\>"
color brown ":$"

color black "^`.*`$"
color blue "^`|`$"

color cyan "-?[[:digit:]]+\.\.-?[[:digit:]]+"
color cyan "\{ *(bool|int|float|char|string|command|file|directory|path)\>[^{}]+}"
color red "\{ *(/file|/directory|/path)\>[^{}]+}"
color green "\{ *(/\?file|/\?directory|/\?path)\>[^{}]+}"
color magenta "\{ *any\>[^{}]+}"
color ocher "[{}]"
color orange "--?[^ {}]+=?"
color magenta "@(shuffle|random-bool|random-int|random-float|random-char|random-string)\>"
